<div matRipple class="container" (click)="fileInput.click()">
  <div class="square" [style.background-image]="backgroundImageUrl"></div>
  <div class="dropzone"
    appDropzone
    (hovered)="toggleHover($event)"
    (dropped)="onDrop($event)"
    [class.hovering]="isHovering">
      <div class="dropzone-content">
        <div class="caption">
          <mat-icon>cloud_upload</mat-icon>
          <span>{{caption}}</span>
        </div>
        <input type="file" #fileInput accept="image/*"
          (change)="onDrop($event.target.files.item(0))">
      </div>
  </div>
</div>
