<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <p>
    <app-dropzone
      (dropped)="setFile($event)"
      [fileUrl]="fileUrl"></app-dropzone>
  </p>
  <p>
    <label for="name">Name</label><br>
    <input formControlName="name" type="text"><br>
    touched:{{name.touched}}, errors:{{name.errors | json}}
  </p>
  <p>
    <label for="price">Price</label><br>
    <input formControlName="price" type="number" min="0"><br>
    touched:{{price.touched}}, errors:{{price.errors | json}}
  </p>
  <p>
    <label for="description">Description</label><br>
    <input formControlName="description" type="text"><br>
    touched:{{description.touched}}, errors:{{description.errors | json}}
  </p>
  <input type="submit" value="Submit">
</form>
