<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar color="primary">Menu</mat-toolbar>
      <mat-nav-list (click)="drawer.toggle()">
        <!-- <a mat-list-item routerLinkActive="router-link-active"
          routerLink="/signin">Signin</a>
        <a mat-list-item routerLinkActive="router-link-active"
          routerLink="/signup">Signup</a> -->
        <a mat-list-item routerLinkActive="router-link-active"
          routerLink="/feature/products">Products</a>
        <!-- <a mat-list-item routerLinkActive="router-link-active"
          routerLink="/admin">Admin</a> -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button type="button" aria-label="Toggle sidenav"
          mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a routerLink="/" class="home-link">CRUD</a>
      </mat-toolbar>
      <main><router-outlet></router-outlet></main>
    </mat-sidenav-content>
  </mat-sidenav-container>
